.work__img-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }
  .work__img-section > div {
    width: 50%;
    height: 30vw;
    background-size: cover;
    background-position: center; }
    .work__img-section > div:hover {
      background-color: red; }
    @media screen and (max-width: 800px) {
      .work__img-section > div {
        width: 100%;
        height: 50vw; } }
  .work__img-section-1 {
    background-image: url(../img/pexels-photo-1.jpeg); }
  .work__img-section-2 {
    background-image: url(../img/pexels-photo-2.jpeg); }
  .work__img-section-3 {
    background-image: url(../img/pexels-photo-3.jpeg); }
  .work__img-section-4 {
    background-image: url(../img/pexels-photo-4.jpeg); }
